body {
	font-family: 'Playfair Display', serif; 
	background-image: url("bg.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p {
	font-size: 1.5em;
}

.fix-small {
	margin-top: 50px;
}


.fix-large {
	margin-top: 100px;
}

.fix {
	margin-top: 50px;
	padding:50px;
}